/************** neonsign ******************/
@font-face {
  font-family: "LAB디지털";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.neonsign-container {
  margin: var(--side-margin);
  margin-top: 80px;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.neonsign {
  display: flex;
  z-index: -1;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 90%;

  font-family: "LAB디지털";
  letter-spacing: 30px;
  word-spacing: 10px;
  font-weight: 1000;
  font-size: 60px;
  color: yellow;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em yellow, 0 0 0.5em yellow,
    0 0 0.1em yellow, 0 10px 3px #000;

  border: 6px solid black;
  background-color: rgb(51, 51, 51);

  opacity: 0.8;
  background-image: linear-gradient(black 1px, transparent 1px),
    linear-gradient(to right, black 1px, rgb(51, 51, 51) 1px);
  background-size: 5px 5px;

  animation: blink linear infinite 1s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/********** booth ***********/

.booth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1600px;
  min-width: 1500px;
  height: 100%;
}

.booth {
  position: relative;
  min-width: 300px;
  min-height: 300px;
  margin: 30px 80px;
  border-radius: 50%;
  text-align: center;
  background-color: cadetblue;
  overflow: visible;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
