body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes splash-screen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
    z-index: -1;
  }
}
.name-tag {
  width: 680px;
  height: 792px;
  padding-bottom: 10px;
  border: 2px solid black;
  animation: splash-screen 3s ease-in-out forwards;
  animation-delay: 0.3s;
}

.name-tag__title img {
  margin-left: 5px;
  width: 160px;
  height: 160px;
}

.name-tag__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fdd835;
  height: 180px;
  border-bottom: 2px solid black;
}

.name-tag__inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 45px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.name-tag__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-tag__body__uni {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 30px;
  letter-spacing: 11px;
}
.name-tag__body__name {
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 80px;
  letter-spacing: 15px;
  font-weight: 600;
}
.name-tag__body__visit {
  margin-top: 30px;
  font-size: 70px;
  font-weight: 600;
  padding: 10px 140px;
  border-top: 4px solid black;
}
