.people-introduce {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dev-title,
.men-title {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.people {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 40px 50px;
  flex-wrap: wrap;
}
.people li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px 0px;
  font-size: 25px;
  width: 200px;
  height: 150px;
  background-color: cornsilk;
}

.person__info__icons {
  display: flex;
}

.person__info__icons a {
  color: black;
  display: block;
  font-size: 30px;
}

.person__info__icons a:first-child {
  margin-right: 15px;
}

.person__info__icons a:last-child {
  margin-left: 15px;
}
